VITE_SUPABASE_PROJECTURL=YourProjectURL
VITE_SUPABASE_PUBLICAPIKEY=ValueOfAPIKEY
VITE_SUPABASE_CDNURL=CDNURL FROM STORAGE
VITE_API_URL=Spring_URL
VITE_RECAPTCHA_SITE_KEY=Site Key from Google reCAPTCHA