# ENVS FOR DOCKER

# Frontend

VITE_SUPABASE_PROJECTURL=YourProjectURL
VITE_SUPABASE_PUBLICAPIKEY=ValueOfAPIKEY
VITE_SUPABASE_CDNURL=CDNURL FROM STORAGE
VITE_API_URL= SPRING API URL

# Google reCAPTCHA Frontend

VITE_RECAPTCHA_SITE_KEY=your-recaptcha-site-key-frontend

# Backend

SPRING_DATASOURCE_URL=jdbc:mysql://database:3306/barbershop-with-roles
SPRING_DATASOURCE_USERNAME=db-username
SPRING_DATASOURCE_PASSWORD=db-password
JWT_SECRET_KEY=generate-your-secret-key

# Database

MYSQL_ROOT_PASSWORD=your-root-password
MYSQL_DATABASE=barbershop-with-roles

# Mail

MAIL_USERNAME=email-address
MAIL_PASSWORD=your-generated-password

# Github OAuth

GITHUB_CLIENT_ID=github-client-id
GITHUB_CLIENT_SECRET=github-client-secret

# Google OAuth

GOOGLE_CLIENT_ID=google-client-id
GOOGLE_CLIENT_SECRET=google-client-secret

### Redis/Valkey

VALKEY_HOST=(default for docker -valkey, default for springboot :localhost)
VALKEY_PORT=6379(default both)

# Google reCAPTCHA Backend

GOOGLE_RECAPTCHA_SECRET=your-recaptcha-secret-key-backend
