html,
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding-top: 56px; /* navbar height */
}

.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /*over other elements */
  background-color: #343a40;
  width: 100%;
}

.custom-navbar-ul {
  display: flex;
  width: 100%;
  gap: 50px;
}

.footer {
  margin-top: auto;
  width: 100%;
  padding: 1rem 0;
  background-color: #343a40;
  color: white;
}

.pagination {
  margin-bottom: 70px;
}

.pagination .page-item.active .page-link {
  background-color: black;
  color: white;
  border-color: black;
}

.social-icons {
  font-size: 70px;
}

.social-icons a {
  margin-right: 100px;
}

.arrow-left,
.arrow-right {
  color: black;
  font-size: 30px;
  margin-top: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.arrow-left {
  left: 160px;
}

.arrow-right {
  right: 160px;
}

@media (max-width: 768px) {
  .arrow-icon {
    color: black;
    font-size: 20px;
    margin: 0 -80px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .arrow-icon {
    color: black;
    font-size: 30px;
  }
}
